@import "appcustom.less";
.mt_5{margin-top:5px;}
.mt_10{margin-top:10px;}
.mt_15{margin-top:15px;}
.mt_20{margin-top:20px;}
.mt_25{margin-top:25px;}
.mt_30{margin-top:30px;}
.ml_5{margin-left:5px;}
.ml_10{margin-left:10px;}
.ml_15{margin-left:15px;}
.ml_20{margin-left:20px;}
.ml_25{margin-left:25px;}
.mb_5{margin-bottom:5px;}
.mb_10{margin-bottom:10px;}
.mb_15{margin-bottom:15px;}
.mb_20{margin-bottom:20px;}
.mb_25{margin-bottom:25px;}

.bred{border:1px solid red;}
.t_center{text-align:center;}
.title(){
	font-weight:normal;
	color:#333;
}
.appcenter{
	width:1200px;
	margin:0 auto;
}
.primary-color{
	color:@primary-color;
}
.primary-color:hover{
	color:shade(@primary-color, 10%);
}
h2{
	font-size:18px;
	.title();
	height:35px;
	line-height:35px;
}
h3{
	font-size:16px;
	.title();
	height:30px;
	line-height:30px;
}
h4{
	font-size:14px;
	.title();
	height:28px;
	line-height:28px;
}

.contentBlocks{
	width:950px;
	border-color:@border-color-base;
	border-width:1px;
	border-style:solid;
	padding:0 30px 30px 30px;
}
.appbtn1{
	width:150px;
	height:40px;
	border-radius:35px;
	font-size:14px;
	i.anticon{
		font-size:26px;
		color:#000;
		float:left;
		margin-left:20px;
	}
	span{
		line-height:26px;
	}
	&:hover i.anticon{
		color:@primary-color;
	}
}

#topHeader{
	background-color:@primary-color;
	.mainNav{
		width:1200px;
		margin:0 auto;
		height:80px;
		.ant-menu-horizontal{
		   height:80px;
		   line-height:80px;
		}
	}
	#mainlogo{
		/* background:url(../images/mainlogo.png) no-repeat left center; */
		background-size:auto 40px;
		height:80px;
	}
}

table{
	th{
		text-align:center;
	}
	td{
		text-align:center;
	}

}