@import "appcustom.less";
.mt_5{margin-top:5px;}
.mt_10{margin-top:10px;}
.mt_15{margin-top:15px;}
.mt_20{margin-top:20px;}
.mt_25{margin-top:25px;}
.mt_30{margin-top:30px;}
.ml_5{margin-left:5px;}
.ml_10{margin-left:10px;}
.ml_15{margin-left:15px;}
.ml_20{margin-left:20px;}
.ml_25{margin-left:25px;}
.mb_5{margin-bottom:5px;}
.mb_10{margin-bottom:10px;}
.mb_15{margin-bottom:15px;}
.mb_20{margin-bottom:20px;}
.mb_25{margin-bottom:25px;}

.bred{border:1px solid red;}
.t_center{text-align:center;}
.title(){
	font-weight:normal;
	color:#333;
}
.appcenter{
	width:1200px;
	margin:0 auto;
}
.primary-color{
	color:@primary-color;
}
.primary-color:hover{
	color:shade(@primary-color, 10%);
}
h2{
	font-size:18px;
	.title();
	height:35px;
	line-height:35px;
}
h3{
	font-size:16px;
	.title();
	height:30px;
	line-height:30px;
}
h4{
	font-size:14px;
	.title();
	height:28px;
	line-height:28px;
}

.contentBlocks{
	width:1000px;
	border-color:@border-color-base;
	border-width:1px;
	border-style:solid;
	padding:0 30px 30px 30px;
	background:#fff;
}
.appbtn1{
	width:150px;
	height:40px;
	border-radius:35px;
	font-size:14px;
	i.anticon{
		font-size:26px;
		color:#000;
		float:left;
		margin-left:20px;
	}
	span{
		line-height:26px;
	}
	&:hover i.anticon{
		color:@primary-color;
	}
}

#topHeader{
	background-color:@primary-color;
	.mainNav{
		width:1200px;
		margin:0 auto;
		height:80px;
		.ant-menu-horizontal{
		   height:80px;
		   line-height:80px;
		}
	}
	#mainlogo{
		/* background:url(../images/mainlogo.png) no-repeat left center; */
		background-size:auto 40px;
		height:80px;
	}
}

table{
	th{
		text-align:center;
	}
	td{
		text-align:center;
	}

}
.block_header{
	height:58px;
	background-color:#f8f8f8;
	border:1px solid @border-color-base;
	box-sizing: border-box;
	width:100%;
	padding:10px 20px;
	line-height:38px;
	span,i{
		display:inline-block;
		vertical-align:top;
	}
}

ul.block_nav{
	height:53px;
	border-bottom:1px solid @border-color-base;
	position:relative;
	li{
		float:left;
	    height: 100%;
	    margin-right: 28px;
	    box-sizing: border-box;
	    position: relative;
	    line-height:100%;
	    a{
			line-height:53px;
			color:#666;
		}
	}
	li.cur{
		border-bottom:3px solid @primary-color;
		color:@primary-color;
	}
}
.desP{
	height:24px;
	line-height:24px;
	color:#666;
	font-size:12px;
	padding-left:5px;
}


//缩短表单下边距
.shorten-form-item {
	position: relative;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: auto;
  font-size: @font-size-base;
  margin-bottom:15px;
  color: #666;

  .shorten-form-item-with-help {
    margin-bottom: @form-item-margin-bottom - @font-size-base * @line-height-base;
  }

  > label {
    color: @label-color;
    text-align: right;
    vertical-align: middle;

    &:lang(en) {
      padding-right: 8px;
    }
  }
  &:after{
  	content:'';
  	clear: both;
  	display: table;
    visibility: hidden;
    font-size: 0;
    height: 0;
  }
}

.ant-form-horizontal {

  .shorten-form-item-compact {
    label,
    .shorten-form-text,
    .shorten-form-split {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .shorten-radio-inline,
  .shorten-checkbox-inline {
    vertical-align: top;
  }
}

//表格中按钮
.tableBtn{
	a{
		margin-right:5px;
		
	}
	i{
		font-size:20px;
		line-height:20px;
		color:@primary-color;
	}
	i.anticon-apple{
		margin-top:-2px;
	}
}

//表格中按钮
.IconBtn{
	a{
		margin-right:5px;
		
	}
	i{
		font-size:20px;
		line-height:20px;
		vertical-align: middle;
	}
	i.anticon-apple{
		margin-top:-2px;
	}
}
