@import "appcustom.less";
@import "base.less";
@lwidth : 150px;


.addVersion{
	p{
		height:33px;
		line-height:33px;
		width:400px;
		text-align:right;
		float:right;
		color:@primary-color;
	}
}

.tableBtn{
	a{
		margin-right:5px;
		
	}
	i{
		font-size:20px;
		line-height:20px;
		color:@primary-color;
	}
}
.AppInformation_l{
	width:230px;
	float:left;
}
.AppInformation_r{
	float:left;
	width:650px;
}
.ant-form-text{
	padding-left:10px;
}
