@import "appcustom.less";
@import "base.less";
@lwidth : 150px;


.addVersion{
	p{
		height:33px;
		line-height:33px;
		width:400px;
		text-align:right;
		float:right;
		color:@primary-color;
	}
}

.tableBtn{
	a{
		margin-right:5px;
		
	}
	i{
		font-size:20px;
		line-height:20px;
		color:@primary-color;
	}
}
.AppInformation_l{
	width:230px;
	float:left;
}
.AppInformation_r{
	float:left;
	width:650px;
}
.ant-form-text{
	padding-left:10px;
}


/* 上传按钮 */
.ant-upload-select-picture-card i {
  font-size: 28px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  font-size: 12px;
  color: #666;
}

.AppInformation_upload_l {
  position: relative;
  display: inline-block;
  vertical-align: top;
  float:left;
  margin-right:10px;
}

.AppInformation_upload_l img {
  height:185px;
  width:185px;
  border-radius:6px;
}
.AppInformation_upload_r{
	float:left;
}
.ant-form-item-control span{
	display:inline-block;
}


.xgts,.wxfx{
	height:38px;
	width:50px;
	background:url(../images/icon_1.png) no-repeat;
}
.wxfx{
	background-position:5px -50px;
}

/* 开机画面 */
#bootScreenmain{
	width:70%;
	margin:0 auto;
	.bootScreen_l{
		height:460px;
		background:url(../images/phone_1.png) no-repeat;
	}
	.bootScreen_r{
		text-align:center;
		p{
			text-align:center;
			font-size:12px;
			label{font-size:14px}
		}

	}
}

.guide_l{
	height:500px;
	background:url(../images/phone_1.png) no-repeat center center;
	position:relative;
	border:1px solid transparent;
	.carouselWrap{
		height:355px;
		width:200px;
		margin:75px auto 0 auto;
	}
	.CarouselList{
		background:url(../images/phone_1.png) no-repeat center center;	
		background-size:100% 100%; 
		height:355px;
		width:200px;
	}
	.slick-dots{
		bottom:50px;
	}
}
.guide_r{
	line-height:35px;
	.guide_r_con{
		background:#eee;
		height:400px;
		width:460px;
		padding:0px 0 15px 16px;
	}
	.guide_r_list{
		float:left;
		margin-right:18px;
		height:168px;
		margin-top:15px;
		img{
			width:100%;
			height:100%;
		}
	}
	.guide_r_list.last_list{																																		
		border:2px solid @primary-color;
		font-size:20px;
		line-height:20px;
		color:@primary-color;
		text-align:center;
		line-height:168px;
		cursor:pointer;
		i{
			font-size:30px;
			font-weight:bold;
		}
		.ant-upload{
			width:100%;
			height:100%;
		}
	}
}



/*  焦点图 */
.focusBox { position: relative; width:840px; height:495px; overflow: hidden;margin:0 auto;}
.focusBox .pic li { width:840px; height:495px; display: block; }
.focusBox .hd { overflow:hidden; zoom:1; position:absolute; bottom:5px; right:10px; z-index:3}
.focusBox .hd li{float:left; line-height:15px; text-align:center; font-size:12px; width:25px; height:10px; cursor:pointer; overflow:hidden; background:#919191; margin-left:4px; filter:alpha(opacity=80); opacity:.8; -webkit-transition:All .5s ease;-moz-transition:All .5s ease;-o-transition:All .5s ease }
.focusBox .hd .on{ background:#fff; filter:alpha(opacity=100);opacity:1;}

.focusBox .prev,
.focusBox .next { background-color:@primary-color;width:40px; height:85px; position:absolute; top:50%; z-index:3; -webkit-transition:All .5s ease;-moz-transition:All .5s ease;-o-transition:All .5s ease;margin-top:-43px;
				  text-align:center;
				  i{
						font-size:30px;
						font-weight:bold;
						color:#fff;
						line-height:85px;
				  }
				}
.focusBox .prev { left:0 }
.focusBox .next {  background-position:-158px 0; right:0 }
.focusBox .prev:hover,
.focusBox .next:hover { filter:alpha(opacity=60); -moz-opacity:.6; opacity:.6 }

/* 上下抽屉样式 */
#leftDrawer{
	position:relative;
	>div{
		position:absolute;
	}
	.leftDrawer_l{
		width:225px;
		height:460px;
		left:160px;
		top:0;
		background:url(../images/phone_1.png) no-repeat;
		background-size:100% 100%;
		div.leftDrawer_l_con{
			background:url(../images/style_1.png) no-repeat red;
			background-size:102% 100%;
			position:absolute;
			top:54px;
			left:14px;
			width:200px;
			height:352px;
			border:1px solid @border-color-base;
		}
	}
	.leftDrawer_r{
		width:200px;
		height:352px;
		left:370px;
		top:54px;
		background:url(../images/style_6.png) no-repeat red;
		background-size:100% 100%;
		border:1px solid @border-color-base;
	}
}

/* 上下抽屉样式 */
#upDownColumn{
	position:relative;
	>div{
		position:absolute;
	}
	.upDownColumn_r{
		width:225px;
		height:460px;
		left:290px;
		top:0;
		background:url(../images/phone_1.png) no-repeat;
		background-size:100% 100%;
		div.upDownColumn_r_con{
			background:url(../images/style_4.png) no-repeat red;
			background-size:102% 100%;
			position:absolute;
			top:54px;
			left:14px;
			width:200px;
			height:352px;
			border:1px solid @border-color-base;
		}
	}
	.upDownColumn_l{
		width:135px;
		height:352px;
		left:170px;
		top:54px;
		z-index:99;
		background:url(../images/style_2.png) no-repeat red;
		background-size:100% 100%;
		border:1px solid @border-color-base;
	}
}

/* 双侧抽屉样式 */
#doubleSideDrawer{
	position:relative;
	>div{
		position:absolute;

	}
	.doubleSideDrawer_l{
		width:135px;
		height:352px;
		left:140px;
		top:54px;
		background:url(../images/style_3.png) no-repeat red;
		background-size:100% 100%;
		z-index:99;
		border:1px solid @border-color-base;
	}
	.doubleSideDrawer_m{
		width:225px;
		height:460px;
		left:260px;
		top:0;
		background:url(../images/phone_1.png) no-repeat;
		background-size:100% 100%;
		div.doubleSideDrawer_m_con{
			background:url(../images/style_7.png) no-repeat red;
			background-size:102% 100%;
			position:absolute;
			top:54px;
			left:14px;
			width:200px;
			height:352px;
			border:1px solid @border-color-base;
		}
	}
	.doubleSideDrawer_r{
		width:135px;
		height:352px;
		left:470px;
		top:54px;
		background:url(../images/style_5.png) no-repeat red;
		background-size:100% 100%;
		border:1px solid @border-color-base;
	}
}

.defColor{
	.defColor_choose{
		display:inline-block;
		width:35px;
		height:25px;
		background:red;
		cursor:pointer;
	}
}
.styleName{
	padding-left:50px;
	font-size:16px;
	span{
		font-size:14px;
		color:#333;
	}
}