@import "appcustom.less";
@import "base.less";
@lwidth : 150px;


.addVersion{
	p{
		height:33px;
		line-height:33px;
		width:400px;
		text-align:right;
		float:right;
		color:@primary-color;
	}
}

.tableBtn{
	a{
		margin-right:5px;
		
	}
	i{
		font-size:20px;
		line-height:20px;
		color:@primary-color;
	}
}
.AppInformation_l{
	width:230px;
	float:left;
}
.AppInformation_r{
	float:left;
	width:650px;
}
.ant-form-text{
	padding-left:10px;
}


/* 上传按钮 */
.ant-upload-select-picture-card i {
  font-size: 28px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  font-size: 12px;
  color: #666;
}

.AppInformation_upload_l {
  position: relative;
  display: inline-block;
  vertical-align: top;
  float:left;
  margin-right:10px;
}

.AppInformation_upload_l img {
  height:185px;
  width:185px;
  border-radius: 6px;
}
.AppInformation_upload_r{
	float:left;
}
.ant-form-item-control span{
	display:inline-block;
}


.xgts,.wxfx{
	height:38px;
	width:50px;
	background:url(../images/icon_1.png) no-repeat;
}
.wxfx{
	background-position:5px -50px;
}