@import "appcustom.less";
@import "base.less";
@lwidth : 150px;
#topHeader{
	background-color:@primary-color;
	.mainNav{
		width:1200px;
		margin:0 auto;
		height:80px;
		.ant-menu-horizontal{
		   height:80px;
		   line-height:80px;
		}
	}
	#mainlogo{
		background:url(../images/logo.png) no-repeat left center;
		background-size:auto 40px;
		height:80px;
	}
}

#mainleft{
	section{
		width:@lwidth;
	}
	.ml_headlines{
		img{
			width:@lwidth;
			height:@lwidth;
		}
		span{
			margin-left:5px;
		}
	}
	.ml_scanInstall{
		img{
			width:@lwidth;
			height:@lwidth;
		}
	}
	.ml_download{

	}
}


.ActivationVolume{
	.contentBlocks;
	padding:30px 0;
	.t_center;

	.AVInner{
		border-right:1px solid transparent;
		border-right-color:@border-color-base;
	}
	.AVnum{
		color:@primary-color;
		font-size:36px;
		height:54px;
	}
	.AVgrowth{
		font-size:18px;
	}
}

.updataTip{
	.updataTipIcon{
		color:@primary-color;
		margin-right:10px;
	}
	.contentBlocks();
	padding:15px 40px;
	p{
		font-size:18px;
	}
	a{
		font-size:14px;
		color:@primary-color;
		&:hover{
			text-decoration:underline;
		}
	}
	.UpdatedInstructions{
		margin:0 15px;
	}
}

.quickEntry{
	.contentBlocks;
	padding:0 30px 30px 30px;
	.quickEntryDiv{
		text-align:center;
		width:16%;
		position:relative;
		float:left;
		img{
			display:inline-block;
			width:105px;
			height:105px;
			margin:0 auto;
		}
		p{
			text-align:center;
			color:#666;
		}
	}
}